{% if keyword|length > 0 %}
<ul class="autocomplete__list">
	{% for key, keyword in keywords %}
		<li class="autocomplete__item" data-value="{% if keyword.value %}{{keyword.value}}{% else %}{{keyword.text}}{% endif %}">
			<span class="autocomplete__context">{{keyword.text|raw}}</span>
			
			{% if keyword.count is defined %}
			<span class="badge badge--sm">{{keyword.count}}</span>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% else %}
<p class="autocomplete__no-result mg-none pd-lv2 font-sm">{{message}}</p>
{% endif %}