<div class="dropdown__container">
    <p class="dropdown__button">
        {{#each options}}
            {{#compare @key '==' @root.selectedIndex}}
                {{#if innerText}} {{innerText}} {{else}} {{innerHTML}} {{/if}}
            {{/compare}}
        {{/each}}
    </p>
    <div class="dropdown__select{{#if @root.checkList}} dropdown__check{{/if}}">
        {{#if dataset.search}}
            <div class="dropdown__search">
                <div class="group mg-none">
                    <input type="text"
                        name="{{name}}-search"
                        placeholder="Search">
                    <i class="icon icon--sm icon--mg-md icon--search"></i>
                </div>
            </div>
        {{/if}}
        <div class="scrollable">
            <ul>
                {{#each options}}
                    {{#compare disabled '==' false}}
                        {{#if value}}
                            <li data-value="{{value}}">
                                {{#if @root.checkList}}
                                    <i class="{{#compare @key '!=' @root.selectedIndex}}invisible {{/compare}}icon icon--md icon--check inline v-alignc"></i>
                                {{/if}}
                            {{#if innerText}} {{innerText}} {{else}} {{innerHTML}} {{/if}}
                            </li>
                        {{/if}}
                    {{/compare}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>