{{#compare (get_length keywords) '>' 0}}
<ul class="autocomplete__list">
	{{#each keywords}}
		<li class="autocomplete__item" data-value="{{#if value}}{{value}}{{else}}{{text}}{{/if}}">
			<span class="autocomplete__context">{{{text}}}</span>
			{{#if count}}
			<span class="badge badge--sm">{{count}}</span>
			{{/if}}
		</li>
	{{/each}}
</ul>
{{else}}
<p class="autocomplete__no-result mg-none pd-lv2 font-sm">{{message}}</p>
{{/compare}}