{{#each options}}
<input id="option-{{@key}}" type="radio" name="option"> 
{{/each}}

<div class="feedback-content content">
    <h6 class="feedback__title first">{{question}}</h6>

    <div class="row row--horizontal-center mg-none">
        {{#each options}}
        <label 
        for="option-{{@key}}" 
        class="button button--xl{{#if icon}} button--icon{{#if text}}{{else}} button--icon--only{{/if}}{{/if}}{{#if class}} {{class}}{{/if}}"
        {{#if order}}style="order: {{order}};" {{/if}} data-form="{{#if feedback}}true{{else}}false{{/if}}">
            {{#if icon}}
            <img class="icon--xl icon--mg-xl" class="feedback__icon" src="{{icon}}" alt="">
            {{/if}} 
            
            {{#if text}}
            <span>{{text}}</span>
            {{/if}}
        </label>
        {{/each}}
    </div>
</div>

<div class="form-content content">
{{#each options}}
    <form id="form-{{@key}}" class="{{class}}" data-id="{{id}}">
        <input type="hidden" name="question_id" value="{{@root.id}}">
        <input type="hidden" name="option_id" value="{{@key}}">
        <input type="hidden" name="option_value" value="{{value}}">

        {{#if feedback.label}}
        <label>{{feedback.label}}</label>
        {{/if}}
        <textarea class="mg-none" name="message" placeholder="{{feedback.placeholder}}"{{#if feedback.required}} required{{/if}}></textarea> 
        
        {{#if feedback.contact}}
        <div class="mg-top-lv2">
            <label>{{@root.text.email_label}}</label>
            <input class="mg-none" type="email" name="email" value="{{@root.email}}" placeholder="{{@root.text.email_placeholder}}" data-error="{{@root.text.email_error}}"{{#if feedback.contactRequired}} required{{/if}}>
            <span class="font-xs text__general--text-secondary">{{@root.text.email_info}}</span>
        </div>
        {{/if}}        

        <div class="row pd-top-lv2">
            <div class="col__xs--6 mg-none-i">
                <button class="button button--md button--outline full-width" type="reset">{{@root.text.cancel}}</button>
            </div>
            <div class="col__xs--6 mg-none-i">
                <button class="button button--md button--flat full-width" type="submit">{{@root.text.submit}}</button>
            </div>
        </div>
    </form>
{{/each}}
</div>

<style>
    {{#each options}}
    {{#if feedback}}
    .feedback input#option-{{@key}}:checked ~ .content #form-{{@key}} {
        display: inherit !important;
    }
    {{/if}}
    {{/each}}
</style>