<button class="debug__handler full-width"></button>

<div class="debug__header">
	<div class="row row--vertical-center mg-none">
		<i class="icon-fr icon--sm icon--mg-sm icon-fr--logo-symbol text__project--main"></i>

		<ul class="debug__nav">
			<li><button class="trigger__button" data-trigger="debug__messages">Messages <span class="badge badge--xs badge--pill">{{get_obj_length messages}}</span></button></li>
			<li><button class="trigger__button" data-trigger="debug__services">Services <span class="badge badge--xs badge--pill">{{get_obj_length services}}</span></button></li>
			<li><button class="trigger__button" data-trigger="debug__database">Database <span class="badge badge--xs badge--pill">{{get_obj_length queries}}</span></button></li>
			<li><button class="trigger__button" data-trigger="debug__urlrequests">URL Requests <span class="badge badge--xs badge--pill">{{get_obj_length urlrequests}}</span></button></li>
			<li><button class="trigger__button" data-trigger="debug__cache">Cache</button></li>
		</ul>

		<div class="debug__header__right">
			<ul class="debug__nav">
				{{#if history}}
				<li>
					<div class="popover popover--top popover--width-auto debug__history">
						<button class="popover__trigger debug__indicator">
							<i class="icon icon--xs icon--mg-sm icon--menudots"></i>
							<span>{{request.method}} {{request.url}}</span>
						</button>

						<div class="popover__container pd-none-i">
							<div class="scrollable">
								<ul>
									{{#each history}}
									<li>
										{{#compare @key "==" @root.history_active}}
										<button class="debug__history full-width active" data-index="{{@key}}"><b>{{this.execution_time}}s</b> {{this.request.method}} {{this.request.url}}</button>
										{{else}}
										<button class="debug__history full-width" data-index="{{@key}}"><b>{{this.execution_time}}</b> {{this.request.method}} {{this.request.url}}</button>
										{{/compare}}
									</li>
									{{/each}}
								</ul>								
							</div>
						</div>
					</div>
				</li>
				{{/if}}
				<li>
					<div class="debug__indicator debug__memory">
						<i class="inline-block icon icon--xs icon--mg-sm icon--settings"></i>
						<span>{{memory}}mb</span>				
					</div>
				</li>
				<li>
					<div class="debug__indicator debug__time">
						<i class="inline-block icon icon--xs icon--mg-sm icon--time"></i>
						<span>{{execution_time}}s</span>						
					</div>
				</li>
				<li>
					<button class="debug__collapse trigger__close-all button button--sm button--icon button--icon--only mg-none-i">
						<i class="icon icon--xs icon--mg-sm icon--cross"></i>
					</button>						
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="debug__section">
	<div id="debug__messages" class="debug__content">
		<ul>
		{{#each messages}}
			<li class="row mg-none {{this.severity}}">
				{{#compare this.message "typeof" "object"}}
				<div class="parameters">
					&#123;<br>
					{{#each message}}
						{{#ifObject this}}
							<div><b>{{@key}}:</b> &#123;<br></div>
							{{#each this}}
								<div><div><b>{{@key}}:</b> {{this}}</div><br></div>
							{{/each}}
							<div>&#125;<br></div>
						{{else}}
						<div><b>{{@key}}:</b> {{this}}</div><br>
						{{/ifObject}}
					{{/each}}
					&#125;
				</div>
				{{else}}
				<div>
					{{this.message}}
				</div>
				{{/compare}}

				<div class="time bold">
				{{#if this.backtrace.action}}
					{{this.backtrace.action}}
				{{/if}}
				</div>
			</li>
		{{/each}}
		</ul>
	</div>

	<div id="debug__services" class="debug__content">
		<div class="scrollable">
			<ul>
			{{#each services}}
				{{#if this.status}}
				<li class="row mg-none {{this.status}}">
				{{else}}
				<li class="row mg-none">
				{{/if}}
					<div class="service bold">{{this.service}}::{{this.method}}</div>
					<div class="parameters">
						&#123;<br>
						{{#each params}}
							{{#ifObject this}}
								<div><b>{{@key}}:</b> &#123;<br></div>
								{{#each this}}
									<div><div><b>{{@key}}:</b> {{this}}</div><br></div>
								{{/each}}
								<div>&#125;<br></div>
							{{else}}
							<div><b>{{@key}}:</b> {{this}}</div><br>
							{{/ifObject}}
						{{/each}}
						&#125;
					</div>
					<div class="time">
						<span>{{this.mem}}</span>
					</div>
					<div class="time">
						<span>{{this.time}}</span>
					</div>
				</li>
			{{/each}}
			</ul>			
		</div>
	</div>

	<div id="debug__database" class="debug__content">
		<div class="scrollable">
			<ul>
			{{#each queries}}
				{{#if this.status}}
				<li class="row mg-none {{this.status}}">
				{{else}}
				<li class="row mg-none">
				{{/if}}
					<div class="driver bold">{{this.driver}}</div>
					<div class="query">{{{highlight_mysql_keywords this.query}}}</div>
					<div class="time">
						<span>{{this.mem}}</span>
					</div>
					<div class="time">
						<span>{{this.time}}</span>
					</div>
				</li>
			{{/each}}
			</ul>			
		</div>
	</div>

	<div id="debug__urlrequests" class="debug__content">
		<div class="scrollable">
			<ul>
			{{#each urlrequests}}
				{{#if this.status}}
				<li class="row mg-none {{this.status}}">
				{{else}}
				<li class="row mg-none">
				{{/if}}
					<div class="service bold">{{this.url}}</div>
					<div class="parameters">
						&#123;<br>
						{{#each options}}
							{{#ifObject this}}
								<div><b>{{@key}}:</b> &#123;<br></div>
								{{#each this}}
									<div><div><b>{{@key}}:</b> {{this}}</div><br></div>
								{{/each}}
								<div>&#125;<br></div>
							{{else}}
							<div><b>{{@key}}:</b> {{this}}</div><br>
							{{/ifObject}}
						{{/each}}
						&#125;
					</div>
					<div class="time">
						<span>{{this.mem}}</span>
					</div>
					<div class="time">
						<span>{{this.time}}</span>
					</div>
				</li>
			{{/each}}
			</ul>			
		</div>
	</div>

	<div id="debug__cache" class="debug__content"></div>
</div>